@font-face {
	font-family: 'FoundersGrotesk-Web';
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-light.eot");
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-light.eot?") format("embedded-opentype"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-light.woff2") format("woff2"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'FoundersGrotesk-Web';
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.eot");
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.eot?") format("embedded-opentype"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.woff2") format("woff2"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'FoundersGrotesk-Web';
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.eot");
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.eot?") format("embedded-opentype"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.woff2") format("woff2"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'FoundersGrotesk-Web';
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-semiBold.eot");
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-semiBold.eot?") format("embedded-opentype"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-semiBold.woff2") format("woff2"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-semiBold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'FoundersGrotesk-Web';
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-bold.eot");
	src: url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-bold.eot?") format("embedded-opentype"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-bold.woff2") format("woff2"),
	url("https://www.bu.edu/cdn/fonts/client-fonts/Founders-Grotesk/founders-grotesk-web-bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}
.App{
  font-family: 'FoundersGrotesk-Web';
  background-color: #eeeeee;
  min-height: 100vh;
}
.post-container{
  padding: 2.5vh 0;
  /* min-height: 90vh; */
  /* max-height: 100vh; */
  display: flex;
  justify-content: center;
}
.post-container-inner{
  background-color: white;
  max-width: 35%;
  height: 100%;
  /* border: 1px solid grey; */
  border-radius: 10px;
  padding: 1.5em 0;
}
.px{
  padding-left: 1.2em;
  padding-right: 1.2em;
}
.px2{
  padding-left: 1.8em;
  padding-right: 1.8em;
}
.row{
  display: flex;
}
.space-evenly{
  justify-content: space-evenly;
}
.space-apart{
  justify-content: space-between;
}
.center{
  justify-content: center;
  align-items: center;
}
.donate-link-container{
  width: 50%;
}
.primary-button{
  font-family: 'FoundersGrotesk-Web';
  background-color: #ff6b6c;
  color: white;
  border: 1px solid #ff6b6c;
  border-radius: 0.5em;
  padding: 0.6em 2.5em;
  font-weight: 700;
  width: 100%;
}
.primary-button:hover{
  cursor: pointer;
}
.primary-button > a{
  text-decoration: none;
  color: white;
}
.primary-button > a:visited{
  color: white;
}
.pl{
  padding-left: 0.5em;
}
.py{
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.progress-container{
  width: 100%;
  background: #9e9e9e75;
  height: 10px;
  border-radius:10px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.progress-bar{
  background: #ff6b6c;
  min-height: 10px;
  border-radius: 10px;
}

.post-image{
  width:100%;
  /* max-height: 60vh; */
}
.mt{
  margin-top: 0.75em;
}
.mb{
  margin-bottom: 0.75em;
}
.mb2{
  margin-bottom: 1.5em;
}
.profile-image{
  width: 10vw;
}
.charity-logo-container{
  width: 20%;
  height: 5%;
}
.charity-logo{
  max-height: 100%;
  max-width: 100%;
}
.center-vertically{
  align-items: center;
}
.w-500{
  font-weight: 500;
}
.w-300{
  font-weight: 300;
  color: #9e9e9e;
}
.hashtag{
  color: #607D8B
}
.like-symbol{
  height: 1.2em;
}

@media (max-width: 1250px){
  .post-container-inner{
    max-width: 40%;
  }
}
@media (max-width: 1024px){
  .post-container-inner{
    max-width: 50%;
  }
}
@media (max-width: 768px){
  .post-container-inner{
    max-width: 70%;
  }
}
@media (max-width: 425px){
  .post-container-inner{
    max-width: 100%;
  }
}

.bear-container{
  width: 100vw;
  height: 100vh;
}
.bear-pic{
  max-width: 50%;
  max-height: 50%;
}

.navbar{
  width: 100vw;
  display: flex;
  position: fixed;
  top:0;
  padding: 1em;
  font-family: 'FoundersGrotesk-Web';
}

.navbar-bear{
  max-height: 2em;
}
.nav-title{
  font-size: 1.5em;
}